@font-face {
    font-family: 'OpenSans Regular';
    src: url('../fonts/OpenSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Bold';
    src: url('../fonts/OpenSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/MuseoSans900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}