.bonuses {
    background: #f9f9f9 url(../img/bonuses-bg.png) top center no-repeat;
    padding-top: 100px;
    padding-bottom: 150px;

    &__redtext {
        background-color: #ff0000;
        color: white;
        line-height: 22px;
        display: inline-block;
        padding: 15px;
        border-radius: 4px;
    }

    &__section {
        position: relative;
    }

    &__title {
        position: absolute;

        &_first {
            margin: 98px 0 0 430px;
        }

        &_second {
            margin: 17px 0 0 285px;
        }
    }

    &__text {
        padding-left: 70px;
    }
}