.button {
	padding: 20px 70px;
	text-transform: uppercase;
	font-size: 16px;
    color: white;
    font-weight: 500;
	background-color: transparent;
    font-family: 'MuseoSans';
    border: 2px solid #59bc81;
	border-radius: 3px;
	position: relative;
	cursor: pointer;
	transition: background-color 1s;
	transition: color 1s;
	outline:none;
    background-color: #59bc81;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: -20px;

	@media only screen and (max-width: 768px) {
		width: 100%;	
	}
}

.button:hover {
	background-color: white;
    color: #59bc81;
    text-decoration: none;
	border: 2px solid #59bc81;
}

.button.good {
	background-color: #1258A7;
	border-color: #1258A7;
	color: #fff;
	cursor: default;
	&:hover {
		background-color: #1258A7;
		border-color: #1258A7;
		color: #fff;
	}
}

.button.wrong {
	background-color: #ff3d3d;
	border-color: #ff3d3d;
	color: #fff;
	cursor: default;
	&:hover {
		background-color: #ff3d3d;
		border-color: #ff3d3d;
		color: #fff;
	}
}