.feedback {
    padding: 180px 0 140px 0;

    &__mainheading {
        border-bottom: 6px solid #ff0000;
        display: inline-block;
        margin-bottom: 35px;
    }

    &__checkbox-wrapper {
        display: flex;
    }
}