.feedback {
    padding: 180px 0 140px 0;
    @media only screen and (max-width: 768px) {
        padding-top: 80px;
    }

    &__mainheading {
        border-bottom: 6px solid #ff0000;
        display: inline-block;
        margin-bottom: 35px;
    }

    &__checkbox-wrapper {
        display: flex;

        @media only screen and (max-width: 768px) {
            margin-bottom: 50px;
        }
    }

    &__link {
        color: #034ea2;
        text-decoration: underline;

        &:hover {
            color: #034ea2;
            text-decoration: none;
        }
    }
}