.input {
	background-color: #fff;
	padding: 18px;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #e6e6e6;
	position: relative;
	color: #858c95;
	box-sizing: border-box;
	font-family: 'OpenSans Regular';
	font-size: 14px;
	outline: none;

	@media only screen and (max-width: 980px) {
		width: 100%;
		box-sizing: border-box;
	}

	@media only screen and (max-width: 768px) {
		box-sizing: border-box;
	}

	&_wrong {
		border: 1px solid red;
	}
}



