.pictures {
    margin-top: 85px;
    margin-bottom: 160px;

    @media only screen and (max-width: 768px) {
        margin-top: 0;
    }

    &__text {
        padding-left: 80px;
    }

    &__title {
        display: block;
        padding: 25px;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        margin-top: -70px;
        position: relative;
        color: white;
    }

    &__wrapper {
        display: flex;
        // width: calc(100% - 40px);
        margin-top: 35px;
        margin-bottom: 135px;

        @media only screen and (max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    &__section {
        width: 50% !important;
        max-height: 590px;
        overflow: hidden;
        @media only screen and (max-width: 768px) {
            width: 100% !important;
            height: auto;
        }

        &:first-child {
            margin-right: 40px;
            @media only screen and (max-width: 768px) {
                margin-right: 0;
            }

            & .owl-stage-outer {
                margin-top: -13px;
            }
        }
    }

    &__arrow {
        width: 110px;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
        margin: 0 auto -107px auto;
        position: relative;
        z-index: 10;

        @media only screen and (max-width: 768px) {
            transform: rotate(90deg);
            display: none;
        }
    }

    &__arrowwrapper {
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #59bc81;
        border-radius: 50%;
    }

    &_centered {
        text-align: center;
    }
}