.structure {
    padding-bottom: 260px;
    @media only screen and (max-width: 768px) {
        padding-bottom: 60px;
    }
    
    &__mainheading {
        border-bottom: 6px solid #ff0000;
        display: inline-block;
        margin-bottom: 85px;
    }

    &__pic {
        width: 100%;
    }

    &__picwrapper {
        display: flex;
        align-items: center;
    }

    &__listitem {
        margin-bottom: 35px;
    }

    &__text {
        margin-top: 70px;
        margin-bottom: 80px;

        @media only screen and (max-width: 768px) {
            margin-top: 20px;
            margin-bottom: 50px;
        }
    }

    &__title {
        font-family: 'DINProBlack';
        text-transform: uppercase;
        color: #60afe1;
        font-weight: bold;
        line-height: 20px;
        margin-top: 20px;

        & br {
            @media only screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    &__property {
        text-align: center;

        @media only screen and (max-width: 768px) {
            margin-bottom: 40px;
        }
    }
}