
.textarea {
    background-color: #fff;
	padding: 18px;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #e6e6e6;
	position: relative;
	color: #858c95;
	box-sizing: border-box;
	font-family: 'OpenSans Regular';
	font-size: 14px;
    outline: none;
    height: 54px;
    margin-top: 10px;
}