.title {
    font-family: 'MuseoSans';
    color: #000000;

    &_small {
        font-size: 18px;
        font-weight: 500;
    }

    &_medium {
        font-size: 24px;
        font-weight: 500;
    }

    &_large {
        font-size: 32px;
        font-weight: 900;

        @media only screen and (max-width: 320px) {
            font-size: 24px;
        }

        &_light {
            font-weight: 300;
        }
    }

    &_xlarge {
        font-size: 36px;
        font-weight: 900;

        @media only screen and (max-width: 320px) {
            font-size: 24px;
        }
    }

    &_uppercased {
        text-transform: uppercase;
    }

    &_blue {
        color: #1b489eж
    }
}